.navbar-brand img{
    max-width: 30px;
    height: auto;
}
.navbar-brand .brand{
    color: #f20a0a;
    font-size: 1.16rem; 
}
.nav-link{
    font-size: 1.12em;
}
.call-to-action{
    color: #f20a0a !important;
}
.call-to-action:hover{
    color: #06d606 !important;
}
.textmain{
    color: #f20a0a; 
}
.card-header .dashboard{
    color: #f20a0a;
    font-size: 1.12em; 
}
.btn-log:hover{
    color: #f20a0a;
}